@(name: String)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>考试系统--管理界面</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("resources/style/base.css")">
    <link rel="stylesheet" id="easyui_theme" type="text/css" href="@routes.Assets.at("resources/easyui/themes/gray/easyui.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("resources/easyui/themes/icon.css")">
    <script type="text/javascript" src="@routes.Assets.at("resources/easyui/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("resources/easyui/jquery.easyui.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("resources/easyui/datagrid-groupview.js")"></script>
    <script src="@routes.Assets.at("resources/jslib/jquery.cookie.js")"></script>
    <script src="@routes.Assets.at("resources/jslib/main.js")"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:100px;overflow: hidden;">
    <table style="width: 100%;height: auto">
        <tr>
            <td><h1></h1></td><td></td><td></td>
            <td><h2>欢迎使用消防考试系统</h2></td>
            <td>
                <a href="javascript:void(0)" id="layout_north_menubutton" class="easyui-menubutton"
                   data-options="menu:'#layout_north_menu',iconCls:'icon-help'">控制面板</a>

                <div id="layout_north_menu" style="width:120px;">
                    <div data-options="iconCls:'icon-edit'" onclick="changePwdBtn();">修改密码</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-skin'">
                        <span>改变主题</span>
                        <div style="width:120px;">
                            <div onclick="changeEasyuiTheme('pepper-grinder');">Pepper Grinder 样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 1)</div>
                            <div onclick="changeEasyuiTheme('black');">Black 样式 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alt + 2)</div>
                            <div onclick="changeEasyuiTheme('bootstrap');">Bootstrap 样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 3)</div>
                            <div onclick="changeEasyuiTheme('cupertino');">Cupertino 样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 4)</div>
                            <div onclick="changeEasyuiTheme('dark-hive');">Dark-Hive 样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 5)</div>
                            <div onclick="changeEasyuiTheme('default');">Blue 样式 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alt + 6)</div>
                            <div onclick="changeEasyuiTheme('sunny');">Sunny 样式 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alt + 7)</div>
                            <div onclick="changeEasyuiTheme('metro');">Metro 样式 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alt + 8)</div>
                            <div onclick="changeEasyuiTheme('metro-green');">Metro-Green样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 9)</div>
                            <div onclick="changeEasyuiTheme('gray');">默认样式 &nbsp;&nbsp;&nbsp;&nbsp;(Alt + 0)</div>
                            <div class="menu-sep"></div>
                            <div onclick="changeEasyuiTheme('metro-bluer');">Metro-Bluer 样式</div>
                            <div onclick="changeEasyuiTheme('metro-gray');">Metro-Gray 样式</div>
                            <div onclick="changeEasyuiTheme('metro-orange');">Metro-Orange 样式</div>
                            <div onclick="changeEasyuiTheme('metro-red');">Metro-Red样式</div>
                        </div>
                    </div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-back'" onclick="exitSystem();">退出系统</div>
                </div>
            </td>
        </tr>
        <tr>
        <td><h4>欢迎您, @name</h4></td>
        <td></td><td></td><td></td><td></td><td></td>
        <td>现在时间：2013-12-04 10:10:10</td>
        </tr>
    </table>
</div>
<div data-options="region:'west',title:'系统菜单'" style="width:220px;">

    <div class="easyui-accordion" style="height:300px;">
        <div title="管理菜单" data-options="iconCls:'icon-save',selected:true" style="overflow:auto;padding:10px;">
            <ul id="west_tree">
			   <!-- <li>部门管理</li>
				<li>职务管理</li>
				<li>人员管理</li>
				<li>
				  <span>试题管理</span>
				  <ul>
				    <li>判断题管理</li>
				    <li>单选题管理</li>
				    <li>多选题管理</li>
				  </ul>
                 </li>				  
                <li id="eaxxx">成绩查询</li>
				<li>修改密码</li>
				<li>退出系统</li> -->
            </ul>
        </div>
    </div>

</div>
<div data-options="region:'center'" style="padding:5px;background:#eee;">

<div id="center_tabs" >
    <div title="首页" data-options="closable:false,fit:true" style="text-align:center;">
    <br>    <br>    <br>    <br>
    hello
    <hr/>
    <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'">开始考试</a> 
    </div>
 
 </div>

</div>
<div data-options="region:'south',border:false" style="height:30px;overflow: hidden;">
    <p style="text-align: center;">版权所有&copy; 2013--2013</p>
</div>
</body>
</html>