  <style type="text/css"> 
        .fitem 
        { 
            margin-bottom: 5px; 
      margin-top:5px;
        } 
       .header{
            width:600px; 
            height: auto;
            margin-bottom:1px;
            border:1px solid #96C2F1;
            background-color: #EFF7FF
        }
 
    </style> 
   <div class="header">
      <div class="fitem"> 
           <label>试题分类</label> 
           <input id="singletopic_cc" class="easyui-combobox" name="dept" required="true" missingMessage="试题分类必填"
		     data-options="valueField:'id',textField:'text',url:'get_data.php'"/>
       </div> 
       <div class="fitem"> 
           <label>试题描述</label> 
		   <textarea style="width:508px;height:60px" rows="4" cols="50"></textarea>
       </div> 
   </div>	   
  <table id="tb_singletopci" style="width:602px;height:auto" class="easyui-datagrid" toolbar="#tb"
			url="data/single_topic.json" title="答案描述" iconCls="icon-edit"
			singleSelect="true" idField="kid" fitColumns="true" nowrap="false" >
    <thead>
	  <tr>
	    <th  field="kid" width="0" hidden="true"></th>
		<th field="id" width="80" align="center" editor="numberspinner">序号</th>
		<th field="topic_desc" width="400" editor="text">&nbsp&nbsp&nbsp内容</th>
		<th  data-options="field:'result',checkbox:true" width="40">正确选项</th>
	  </tr>
	</thead>
 </table>
  <div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="removeit()">编辑</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
</div>