<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>考试系统--管理界面</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("resources/style/base.css")">
    <link rel="stylesheet" id="easyui_theme" type="text/css" href="@routes.Assets.at("resources/easyui/themes/gray/easyui.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("resources/easyui/themes/icon.css")">
    <script type="text/javascript" src="@routes.Assets.at("resources/easyui/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("resources/easyui/jquery.easyui.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("resources/easyui/datagrid-groupview.js")"></script>
    <script src="@routes.Assets.at("resources/jslib/jquery.cookie.js")"></script>
    <script src="@routes.Assets.at("resources/jslib/main.js")"></script>
</head>
<body>
 <ul id = "tt" class="easyui-tree" ></ul>
 <script> 
   $('#tt').tree({
     url: "/sysMenu",
  });
 </script>
</body>
</html>