
 <div style="margin: 5px;">
    <label>新增部门分类</label>
    <input type="text" id="DeptName" ></input>
    <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onClick="addNewDept()">保存</a>
 </div>
  <table id="tt_Dept" style="width:600px;" fit="true"
			url="data/datagrid_data.json" title="部门管理" iconCls="icon-edit"
			singleSelect="true" idField="kid" fitColumns="true">
    <thead>
	  <tr>
	    <th  field="kid" width="0" hidden="true"></th>
		<th field="id" width="80" align="center" editor="numberspinner">序号</th>
		<th field="dept_name" width="200" editor="text">部门名称</th>
		<th field="action" width="80" align="center" formatter="formatAction">管理</th>
	  </tr>
	</thead>
 </table>
	<script type="text/javascript">
		function formatAction(value,row,index){
			if (row.editing){
				var s = '<a href="#" onclick="saverow(this)">保存</a> ';
				var c = '<a href="#" onclick="cancelrow(this)">取消</a>';
				return s+c;
			} else {
				var e = '<a href="#" onclick="editrow(this)">编辑</a> ';
				var d = '<a href="#" onclick="deleterow(this)">删除</a>';
				return e+d;
			}
		}
	</script>
	<script>
	  function addNewDept() {
	    if ($('#DeptName').val().trim() == '') return;
	    $('#tt_Dept').datagrid('appendRow',{
	           id: '0',
	           dept_name: $('#DeptName').val().trim()
           });
		$('#DeptName').val('');   
	  }
	  //这里需要同步到数据库
	</script>
	<script>
		$.extend($.fn.datagrid.defaults.editors, {
			numberspinner: {
				init: function(container, options){
					var input = $('<input type="text">').appendTo(container);
					return input.numberspinner(options);
				},
				destroy: function(target){
					$(target).numberspinner('destroy');
				},
				getValue: function(target){
					return $(target).numberspinner('getValue');
				},
				setValue: function(target, value){
					$(target).numberspinner('setValue',value);
				},
				resize: function(target, width){
					$(target).numberspinner('resize',width);
				}
			}
		});
		$(function(){
			$('#tt_Dept').datagrid({
				onBeforeEdit:function(index,row){
					row.editing = true;
					updateActions(index);
				},
				onAfterEdit:function(index,row){
					row.editing = false;
					updateActions(index);
				},
				onCancelEdit:function(index,row){
					row.editing = false;
					updateActions(index);
				}
			});
		});
		function updateActions(index){
			$('#tt_Dept').datagrid('updateRow',{
				index:index,
				row:{}
			});
		}
		function getRowIndex(target){
			var tr = $(target).closest('tr.datagrid-row');
			return parseInt(tr.attr('datagrid-row-index'));
		}
		function editrow(target){
			$('#tt_Dept').datagrid('beginEdit', getRowIndex(target));
		}
		function deleterow(target){
			$.messager.confirm('Confirm','Are you sure?',function(r){
				if (r){
					$('#tt_Dept').datagrid('deleteRow', getRowIndex(target));
				}
			});
			//这里需要同步到数据库
		}
		function saverow(target){
			$('#tt_Dept').datagrid('endEdit', getRowIndex(target));
			//这里需要同步到数据库
		}
		function cancelrow(target){
			$('#tt_Dept').datagrid('cancelEdit', getRowIndex(target));
		}
	</script>